<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - eFrecuencyNode</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    
<header>
    <nav>
        <div class="nav-left">
            <a class="btn-disabled" href="./home.html" >
                Home
            </a>
            <a class="btn-outline" href="./settings.html">Settings</a>
        </div>

        <div class="nav-center">
            <a class="btn-outline"  href="./generator.html">Generator</a>
            <a class="btn-outline"  href="./frecuency.html">Frequency</a>
        </div>

        <div class="nav-right">
            <a class="btn-logout"  href="/logout">Logout</a>
        </div>
    </nav>
</header>
    <main>
        <h2 class="head-text" >
            eFrecuencyNode
        </h2>
        
    
    </main>
    <footer>
        
    </footer>
<body>
<script src="./index.js"></script>

</html>


