<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - eFrecuencyNode</title>
    <link rel="stylesheet" href="./css/login_styles.css">
</head>
<body class="login-body">
    <div class="login">
        <form action="" method="POST" class="login-form">
            <div style="text-align: end;">
                <h6 style="margin: 0;">eFrecuencyNode</h6>
            </div>
            <h2 class="login-text">Login Page</h2>
            <div class="login-input-group">
                <label for="username" class="login-label">Username</label>
                <input class="login-input" type="text" id="username" name="username" required>
            </div>
            <div class="login-input-group">
                <label for="password" class="login-label">Password</label>
                <input class="login-input" type="password" id="password" name="password" required>
            </div>
            <button class="login-btn" type="submit">Login</button>
        </form>
    </div>
</body>
</html>
