
.contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-bottom: 80px;
    width: 100%;
}

.content {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffffff;
    border: 2px solid #4c4eaf;
    color: #4c4eaf;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex: 1 1 150px;
    box-sizing: border-box;
    max-width: 200px;
    transition: 0.3s;
}

.content.active {
    background-color: #4c4eaf;
    color: #ffffff;
    pointer-events: none;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-submit{
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4c4eaf;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease;
}


.card-submit{
    transition: border 1s ease;
    border: 2px solid white;
}
.card-submit.active{
    border-color: rgb(52, 206, 73);
}
.card-submit.error{
    border-color: rgb(194, 31, 31);
}

.btn-submit{
    transition: background-color 1s ease;
}
.btn-submit.active{
    background-color: rgb(52, 206, 73);
}
.btn-submit.error{
    background-color: rgb(194, 31, 31);
}

.btn-outline {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s;
}

.btn-submit:hover,.btn-outline:hover {
    background-color: #7479c1; 
    color: #ffffff; 
}

/* SPINNER */
.spinner {
    width: 60px;
    height: 60px;
    border: 8px solid transparent; /* Bordes transparentes */
    border-top-color: #4c4eaf; /* Color del borde superior */
    border-bottom-color: #4c4eaf; /* Color del borde superior */
    border-left-color: #4c4eaf; /* Color del borde superior */
    border-radius: 50%; /* Forma circular */
    animation: spin 1s linear infinite; /* Animación de giro */
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

